@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #9E7A59;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
}
main{
    overflow-x: hidden;
}
body{
    background-color: #F9F5E3;
}
header, main, footer {
    position: relative;
    z-index: 10;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-inline: 5%;
    margin-top: 50px;
}
#logo {
    width: 200px;
    height: 80px;
}
#tel{
    
    text-decoration: none;
    font-size: 30px;
    display: flex;
    align-items: center;
}
#tel div{
    margin-left: 10px;
}
#cards{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
}
.card{
    width: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    margin: 2%;
}
.img_part {
    width: 100%;
    height: 333px;
    border-radius: 11px;
}
.img_part img{
    width: 100%;
    height: 100%;
}
.text_part {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    background: #DFD7B3;
    border-radius: 11px;
    padding-top: 15px;
}

footer {
    height: 200px;
    background-color: #E8D3B8;
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-block: 25px;
}
#Icons img{
    width: 200px;
    height: 80px;

}
.foot{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
@media (max-Width: 850px){
    #Icons img{
        width: 100px;
        height: 40px;
    }
    #Icons{
        width: 90%;
        justify-content: space-around;
    }
}
@media (max-width: 992px){
    .card {
        width: 330px;
    }
    .img_part {
        height: 527px;
    }
}
@media (max-width: 574px) {
    #logo {
        width: 100px;
        height: 40px;
    }
    header a div{
        font-size: 16px;
    }
    header a img{
        width: 30px;
        height: 30px;
    }
    #Icons{
        width: 90%;
    }
    #Icons img{
        width: 100px;
        height: 40px;
    }
}
